name: Auto Backup

on:
  push:
    branches:
      - main

jobs:
  run-backup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Backup Script
        run: bash Auto_backup.sh
